NEXT_PUBLIC_SUPABASE_URL=https://xxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=xxxx
SUPABASE_SERVICE_ROLE_KEY=xxxx
TELEGRAM_BOT_TOKEN=xxxx
TELEGRAM_ADMIN_CHAT_ID=xxxx
CRON_SECRET=tasodifiy-maxfiy-satr
